.tweet {
    margin: 2px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
    border-radius: 15px;
    border-top: 2px solid #888;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    border-left: 2px solid #888;

}
html {
    background-color: #ddd;
    color: #555;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
}
#footer {
    position:absolute; 
    bottom:0; 
    left:0;
    height: 100px;
    width:100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
}